<article>
  <h1>DVB Dump Institute</h1>
  <p>Enhancing openness and promoting access to Dresden public infrastructure data since 2020</p>
  <p>This project is mainly driven by 3 crack addicted raccoons which develop and maintain this code base. The goal of
    the
    3 raccoons is to create a community driven service which locates public transport vehicles. This is done by
    listening
    directly to the radio traffic of the vehicles.</p>
  <a href="https://github.com/dump-dvb" rel="nofollow noopener noreferrer" target="_blank">github.com/dump-dvb</a>
</article>

<section>
  <h1>Regions</h1>
  <ul *ngIf="regions; else loading">
    <li *ngFor="let region of regions; trackBy trackBy"><a [routerLink]="region.slug">{{region.name}}</a></li>
  </ul>
  <ng-template #loading>
    <p>Loading...</p>
  </ng-template>
</section>
